@tailwind base;
@tailwind components;
@tailwind utilities;

.ag-theme-alpine {
    width: 100%;
    overflow-x: auto;  
}
@media (max-width: 768px) {
    .ag-paging-row-summary-panel {
        display: none;
    }
}

.listItem:hover .listText{
    color: #b89474 !important;
}
.listItem:hover .listIcon{
    color: #b89474 !important;
}

.dropdownParent:hover .dropdownIcon{
    color: #b89474 !important;
}
.dropdownParent:hover .dropdownText{
    color: #b89474 !important;
}
.Mui-focused{
    color: #b89474 !important;
}
.MuiSelect-select{
    border-color: #b89474 !important;
}
.agGridTable{
    width: 100% !important;
}